@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
button{
  margin-top: 10px;
  padding: 10px;
  background: blue;
  width: 100%;
  color: white;
}